PORT=3000

DBHOST=localhost
DBUSER=root
DBNAME=name
DBPASS=secret
DBPORT=3306

JWTSECRET=secret

CLOUNINARY_CLOUD_NAME=cloudname
CLOUNINARY_API_KEY=apikey
CLOUNINARY_API_SECRET=apisecret

REDISURL=redis://localhost:6379

S3_ENDPOINT=https://nos.wjv-1.neo.id
S3_REGION=idn
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=protec-attendances